/data/custom*
/data/customset*
/data/*.png
/data/*/*.png
.DS_Store
build
.git
*.egg-info
dist
output/
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/

.vscode/
logs/

.python-version

Dataset/